@use "./common";

.component-a-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 2fr;
  grid-template-rows: 3fr 2fr 4fr 3fr;
  grid-template-areas:
    "green darkgreen darkgreen darkgreen-ext"
    "green darkgreen darkgreen pink"
    "blue darkgreen darkgreen pink"
    "blue blue-ext yellow pink";
  height: 40rem;
  margin-bottom: 4rem;
}

.card-green {
  grid-area: green;
  background: #7CE55E;
  margin-bottom: 1.8rem;
  border-radius: 24px;
  position: relative;

}
.card-darkgreen {
  grid-area: darkgreen;
  background: #2D9F66;
  margin-bottom: 1.8rem;
  margin-left: 1.8rem;
  border-radius: 24px 0 24px 24px;
  position: relative;
  z-index: 2;
}

.card-darkgreen-extension {
  grid-area: darkgreen-ext;
  background: #2D9F66;
  border-radius: 0 24px 24px 0;
  position: relative;
  z-index: 1;
}
.card-darkgreen-inner-corner {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #2D9F66;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      background: #fff;
      clip-path: circle(100% at 1.5rem 1.5rem);
      z-index: 1;
      pointer-events: none;
    }
  }
.card-blue {
  grid-area: blue;
  background: #429ED6;
  border-radius: 24px 24px 0 24px;
 
}
.card-blue-extension {
  grid-area: blue-ext;
  background: #429ED6;
  border-radius: 0 24px 24px 0;
  position: relative;
  z-index: 1;
}
.card-blue-inner-corner {
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: #429ED6;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff; // match your page background
    clip-path: circle(100% at 1.5rem 0rem);
    z-index: 1;
    pointer-events: none;
  }
}
.card-yellow {
  grid-area: yellow;
  background: #FDB335;
  margin-left: 1.8rem;
  border-radius: 24px;
}
.card-pink {
  grid-area: pink;
  background: #F58DD7;
  margin-top: 1.8rem;
  margin-left: 1.8rem;
  border-radius: 24px;
  position: relative;
  z-index: 2;
}

.component-a-card {
  color: #222;
  font-size: 1.5rem;
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  align-items: flex-end;
  padding: 24px;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
} 