---
import '../../scss/trial-components/component-a.scss';
---

<div class="trial-component-wrapper">
  <h2 class="trial-component-title">Component A</h2>
  <div class="component-a-grid">
    <div class="component-a-card card-green u--mb-3 u--mb-tablets-2">This is a text</div>
    <div class="component-a-card card-darkgreen u--mb-3 u--mb-tablets-2 u--ml-3 u--ml-tablets-2">This is a text</div>
    <div class="component-a-card card-darkgreen-extension">
        <div class="card-darkgreen-inner-corner"></div>
    </div>
    <div class="component-a-card card-blue">This is a text</div>
    <div class="component-a-card card-blue-extension">
        <div class="card-blue-inner-corner"></div>
    </div>
    <div class="component-a-card card-yellow u--ml-3 u--ml-tablets-2 ">This is a text</div>
    <div class="component-a-card card-pink u--mt-3 u--mt-tablets-2 u--ml-3 u--ml-tablets-2">This is a text</div>
  </div>
</div> 