---
import '../../scss/trial-components/component-b.scss';
import terraLogo from '../../assets/terra-logo-orange.png';
---

<div class="trial-component-wrapper">
    <h2 class="trial-component-title">Component B</h2>
    <div class="component-b-card">
    <div class="component-b-header">
        <img src={terraLogo.src} alt="Terra logo" class="terra-logo" />
    </div>
    <div class="component-b-footer">
        <span class="hello-world">hello world</span>
    </div>
    </div>
</div>