---
import Layout from '@layouts/Layout.astro';
import HeroA from '@components/hero/HeroA.astro';
import ComponentA from '@components/trial-components/ComponentA.astro';
import ComponentB from '@components/trial-components/ComponentB.astro';
import { Image } from 'astro:assets';
---

<Layout>
	<HeroA />

	<div class="u--pt-10 u--pt-tablets-7 u--pb-15 u--pb-tablets-10">
		<div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
			<div class="f--row">
				<div class="f--col-12 u--text-align-center">
					<h2 class="f--font-b u--mb-4 ">Tabs section</h2>
				</div>
			</div>
			<div class="f--row u--justify-content-tablets-center">
				<div class="f--col-tablets-11 f--col-desktop-8 f--offset-tablets-0 f--offset-desktop-2">
					<div class="c--accordion-a js--collapsify">
						<div class="c--accordion-a__item">
							<button
								class="c--accordion-a__item__hd"
								data-collapsify-control="collapsify-0"
								aria-expanded="false"
								aria-controls="collapsify-panel-0"
								id="collapsify-header-0"
							>
								tempore nemo sed voluptatibus
								<svg class="c--accordion-a__item__hd__artwork" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
									<path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
							<div
								class="c--accordion-a__item__bd"
								data-collapsify-content="collapsify-0"
								id="collapsify-panel-0"
								aria-labelledby="collapsify-header-0"
								aria-hidden="true"
							>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
						<div class="c--accordion-a__item">
							<button
								class="c--accordion-a__item__hd"
								data-collapsify-control="collapsify-1"
								aria-expanded="false"
								aria-controls="collapsify-panel-1"
								id="collapsify-header-1"
							>
								Ut enim ad minim veniam
								<svg class="c--accordion-a__item__hd__artwork" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
									<path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
							<div
								class="c--accordion-a__item__bd"
								data-collapsify-content="collapsify-1"
								id="collapsify-panel-1"
								aria-labelledby="collapsify-header-1"
								aria-hidden="true"
							>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<div class="u--pt-0 u--pt-tablets-7 u--pb-15 u--pb-tablets-10 js--reveal-item">
		<div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
			<div class="f--row">
				<div class="f--col-6 f--offset-3 f--col-mobile-10 f--offset-mobile-1 u--text-align-center">
					<Image src="http://placeholder.terrahq.com/headshot.webp" alt="Smiling male team member" loading="lazy" width="320" height="320">
				</div>
			</div>
		</div>
	</div>	

	<div class="u--pt-10 u--pt-tablets-7 u--pb-15 u--pb-tablets-10 js--reveal-item">
		<div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
			<div class="f--row">
				<div class="f--col-12 u--text-align-center">
					<h2 class="f--font-b u--mb-4">Lottie Section</h2>
				</div>
			</div>
			<div class="f--row">
				<div class="f--col-4 f--offset-4 f--col-tabletm-10 f--offset-tabletm-1">
					<div class="js--lottie-element c--lottie-a" data-name="sofaAnimation" aria-label="Animated person sitting on a sofa watching TV and tranforming into different characters depending of what they're watching." role="img">

					</div>
				</div>
			</div>
			<div class="f--row">
				<div class="f--col-4 f--offset-4 f--col-tabletm-10 f--offset-tabletm-1 u--text-align-center">
					<button class="c--btn-a js--play"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z"/></svg></button>
					<button class="c--btn-a js--pause"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M10 24h-6v-24h6v24zm10 0h-6v-24h6v24zm-11-23h-4v22h4v-22zm10 0h-4v22h4v-22z"/></svg></button>
				</div>
			</div>
		</div>
	</div>



	<div class="u--pt-10 u--pt-tablets-7 u--pb-15 u--pb-tablets-10 js--reveal-item">
		<div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
			<div class="f--row">
				<div class="f--col-12 u--text-align-center">
					<h2 class="f--font-b u--mb-4">Cards Component to Terra Frontend Trial</h2>
				</div>
			</div>
			<div class="f--row">
				<div class="f--col-12 ">
					<ComponentA />
				</div>
				<div class="f--col-12 ">
					<ComponentB />
				</div>
			</div>
		</div>
	</div>



	<div class="u--pt-10 u--pt-tablets-7 u--pb-15 u--pb-tablets-10 js--reveal-item">
		<div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
			<div class="f--row">
				<div class="f--col-12  u--text-align-center">
					<h2 class="f--font-b u--mb-8">Final Step</h2>
					<div class="f--row">
						<div class="f--col-6 f--offset-3 f--col-tablets-10 f--offset-tablets-1">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci inventore sint mollitia modi corrupti quis consequuntur fugit quas voluptates nesciunt maxime praesentium, illum quod aut enim reiciendis ullam voluptatibus! Eum.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>






	

	

</Layout>
