---
import { Image } from 'astro:assets';

---
<div class="c--header-a">
    <div class="f--container f--container--tabletm-fluid u--pl-tabletm-2 u--pr-tabletm-2">
        <div class="f--row">
            <div class="f--col-12 f--col-desktop-12">
                <div class="c--header-a__wrapper">
                    <Image src="http://placeholder.terrahq.com/logo-rectangular.webp" alt="Terra's logo" width="229" height="47" />
                </div>
            </div>
        </div>
    </div>
</div>
