---
import '../scss/component-a.scss';
---

<div class="component-a-wrapper">
  <h2 class="component-a-title">Component A</h2>
  <div class="component-a-grid">
    <div class="component-a-card card-green">This is a text</div>
    <div class="component-a-card card-darkgreen">This is a text</div>
    <div class="component-a-card card-darkgreen-extension"></div>
    <div class="component-a-card card-blue">This is a text</div>
    <div class="component-a-card card-blue-extension"></div>
    <div class="component-a-card card-yellow">This is a text</div>
    <div class="component-a-card card-pink">This is a text</div>
  </div>
</div> 